:root {
  --gradient_bg_color: #006dca;
  
  --gradient_spot1_color: #001a39;
  --gradient_spot2_color: #9b70ff;
  --gradient_spot3_color: #42ffc6;
  --gradient_spot4_color: #ff3b8d;
}

.fancy-gradient {
  background-color: var(--gradient_bg_color);
  background-image: radial-gradient(
      75% 75% at left 0% top 0%,
      var(--gradient_spot1_color),
      transparent
  ),
  radial-gradient(
      75% 75% at left 100% top 0%,
      var(--gradient_spot2_color),
      transparent
  ),
  radial-gradient(
      75% 75% at left 100% top 100%,
      var(--gradient_spot3_color),
      transparent
  ),
  radial-gradient(
      75% 75% at left 0% top 100%,
      var(--gradient_spot4_color),
      transparent
  );
}

.test-gradient {
  background-color: #ffffff;
  background-image: radial-gradient(80% 80% at top -20% left 70%, #c7faee, transparent),
  radial-gradient(100% 100% at top 60% left 20%, #ffdbe3, transparent),
  radial-gradient(80% 80% at top 0% left 0%, #e2d9f8, transparent),
  radial-gradient(80% 80% at top 80% left 90%, #d8eeff, transparent);
}
