:root {
  font-family: Consolas, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  place-items: center;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
}

// 配置chrome-autofill的样式
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

#nprogress .bar {
  background: linear-gradient(
      to left,
      var(--gradient-stop-1),
      var(--gradient-stop-2),
      var(--gradient-stop-3),
      var(--gradient-stop-4)
  ) !important;
}
